<?xml version='1.0' encoding='utf-8'?>
<widget id="com.IanDilling.adventurebuddy" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AdventureBuddy</name>
    <description>
        An application used to find outdoor activites in the surrounding area.
    </description>
    <author email="ianbjorndilling@gmail.com" href="http://cordova.io">
        Ian Dilling
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true"/>
	<preference name="UIWebViewBounce" value="false"/>
</widget>
